<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS50 Project One</title>
</head>
<body>
    <nav>
        <ul>
            {% if user %}
            <li>Welcome {{ user }}!</li>
            <a href="{{ url_for('logout') }}"><li>Log out</li></a>
            {% else %}
            <a href="{{ url_for('login') }}"><li>Log In</li></a>
            <a href="{{ url_for('register')  }}"><li>Create User</li></a>            {% endif %}
            
        </ul>
    </nav>
    <main>
        <form action="/search/results" method="POST">
            <h2>Book search tool</h2>
            <label for="searchbox">Search for:<input type="text" name="search_term"></label><br>
            <input type="radio" name="search_type" value="title" checked="checked">Title
            <input type="radio" name="search_type" value="isbn">ISBN
            <input type="radio" name="search_type" value="author">Author<br>
            <input type="submit" value="Search">
        </form>
    </main>
</body>
</html>