<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS50 Project One</title>
</head>
<body>
    <nav>
        <ul>
            <a href="{{url_for('index') }}"><li>Home</li></a>
            {% if user %}
            <li>Welcome {{ user }}!</li>
            <a href="{{ url_for('logout') }}"><li>Log out</li></a>
            {% else %}
            <a href="{{ url_for('login') }}"><li>Log In</li></a>
            <a href="{{ url_for('register')  }}"><li>Create User</li></a>            {% endif %}
            
        </ul>
    </nav>
    <main>
        <ul>
            <li>Book Title: {{ book.title }}</li>
            <li>Author: {{ book.author }}</li>
            <li>ISBN: {{ book.isbn }}</li>
            <li>Year: {{ book.year }}</li>
        </ul>
        <div>
            {% if reviews %}
            <p>Number of reviews: {{ scores.count }}</p>
            <p>Average review: {{ '{:.2}'.format(scores.average) }}</p>
            {% else %}
            <p>There have been no reviews of this book.</p>
            {% endif %}
        </div>
        <section class="user_review">
            {% if user %}
                {% if reviews.user_review %}
                <p>user review test</p>
                <p>{{ reviews.user_review }}</p>
                <form action="/update_review" method="post">
                    <label for="review">Review:</label>
                    <!-- <input type="text" name="review" id="review" size="300" value="{{ reviews.user_review.review}}"> -->
                    <textarea name="review" id="review">{{ reviews.user_review.review}}</textarea><br>
                    <label for="score">Score</label>
                    <input type="number" name="score" id="score" value="{{  reviews.user_review.score  }}" min="1" max="5">
                    <input type="hidden" name="review_id" value="{{ reviews.user_review.review_id }}">
                    <input type="hidden" name="user_id" value="{{ reviews.user_review.user_id }}">
                    <input type="hidden" name="isbn" value = "{{ reviews.user_review.isbn }}">
                    <input type="submit" value="Update">
                </form>
                {% else %}
                <p>No user review</p>
                <form action="/create_review" method="post">
                    <label for="review">Review:</label>
                    <textarea name="review" id="review" required></textarea><br>
                    <label for="score">Score</label>
                    <input type="number" name="score" id="score" min="1" max="5" required>
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <input type="hidden" name="isbn" value = "{{ book.isbn }}">
                    <input type="submit" value="Review">
                </form>
                {% endif %}
            {% else %}
            <p>you must be logged in to review a book</p>
            {% endif %}
        </section>
        <section class="all_reviews">
            {% if reviews %}
            <p> Non-User Reviews</p>
            {% for review in reviews.all_reviews %}
            <ul>
            <li>{{ review.reviewer }} -- name</li>
            <li>{{ review.score }} -- score</li>
            <li>{{ review.review }} -- review</li>
            </ul>
            {% endfor %}
            {% endif %}
        </section>
    </main>
</body>
</html>